body {
    background-color: #f9f9f9;
}

h1,
h2,
.table.table-striped > thead > tr > th {
    color: #656;
}

.card-header,
.panel-heading {
    color: #989;
}

.panel-heading {
    margin-left: 10px;
    font-size: 1.1em;
}

.form-inline > .btn.btn-success {
    margin-right: 8px;
}
